<!DOCTYPE html>
<html>
  <head>
    <meta charset=utf-8 />
    <title>Racepass - Process Payment</title>
    <!--#include virtual="/includes/head_standard.html" -->
    <script src="js/partnerships_payment.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="css/payment.css" />
    <style>
      #cost-explanation {
        font-size: 20px;
        padding-bottom: 8px;
      }
      #right-pane {
        padding: 20px;
        font-size: 20px;
      }
      input {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 300;
      }
      @media screen and (min-width: 700px) {
        h1 {
          margin-bottom: 15px;
        }
        #payment {
          padding-bottom: 60px;
        }
      }
      ul {
        font-size: 18px;
      }
    </style>
  </head>
  <body ng-app="payment" ng-controller="PaymentController as payment">
    <!--#include virtual="/includes/minimal_header.html" -->

    <section id="payment" ng-class="{paymentComplete: payment.paymentComplete}">
      <h2 style="margin-top: 0px">Let's get your race on the map</h2>
      <div ng-cloak id="pane-container" class="row">
        <div id="right-pane" class="col-sm-6 col-sm-push-6">
          Enhance your listing to get more registrants:
          <ul>
            <li>Add official video & photo content 
            <li>Customize your listing details whenever you’d like
            <li>Gain trusted Premier Partner status
          </ul>
          <a href="/partner-preview" target="_blank"><em>Example Listing</em></a>
        </div>
        <div id="left-pane" class="col-sm-6 col-sm-pull-6">
          <input id="email" class="full" ng-model="payment.email" placeholder="Email" />
          <input id="organization" class="full" ng-model="payment.organization" placeholder="Organization" />

          <input id="num_races" type="number" class="full" ng-model="payment.num_races" placeholder="# of races" />
          <div id="cost-explanation">
            {{payment.num_races || 1}} &nbsp;x&nbsp; $45 / year
          </div>
          <form id="checkout-form">
            <div id="card-details">
              <div id="payment-row-1">
                <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/>
                </svg>
                <div class="hosted-field" id="card-number"></div>
              </div>
              <div id="payment-row-2">
                <div class="half">
                  <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/>
                  </svg>
                  <div class="hosted-field" id="expiration-date"></div>
                </div>
                <div class="half" id="right-half">
                  <svg class="payment-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24">
                    <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/>
                  </svg>
                  <div class="hosted-field" id="cvv"></div>
                </div>
              </div>
            </div>

            <div ng-if="payment.error" id="error-message">{{payment.error}}</div>
            <input type="hidden" name="payment-method-nonce">
            <button ng-show="payment.num_races" id="submit" type="submit" class="full" ng-click="payment.purchase(); $event.preventDefault()" disabled>
              <span ng-if="!payment.paymentComplete">Pay ${{payment.getFinalCost()}}</span>
              <span ng-if="payment.paymentComplete">
                (<i class="fa fa-check" aria-hidden="true"></i>)
              </span>
              <i ng-if="payment.purchaseInProgress" class="fa fa-spinner fa-spin fa-fw"></i>
              <span ng-if="payment.purchaseInProgress" class="sr-only">Processing...</span>
            </button>
            <p id="footer-text">By purchasing, I agree to the Terms of Use & Privacy Policy. By purchasing, I understand my membership automatically renews at the annual subscription and I can cancel on site at any time.</p>
          </form>
        </div>
      </div>
    </section>

    <!--#include virtual="/includes/footer.html" -->

    <!-- Load the Client component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/client.min.js"></script>
    <!-- Load the Hosted Fields component. -->
    <script src="https://js.braintreegateway.com/web/3.6.3/js/hosted-fields.min.js"></script>
    <script>
      $.getJSON(window.apiurl + 'checkouts/new')
        .then(function(data) {
          console.log(data);
          loadBraintree(data.clientToken);
        });
    </script>
  </body>
</html>