<section id="race-listings" class="container">
  <h3>Upcoming Races</h3>
  <table class="race-table">
    <tr>
      <th>Distance</th>
      <th>Race</th>
      <th>Date</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="race in list.raceInfo">
      <td>{{main.formatRaceDistance(race.distance)}}</td>
      <td>
        <a ng-if="race.website" href="{{race.website}}" target="_blank">{{race.name}}</a>
        <span ng-if="!race.website">{{race.name}}</span>
      </td>
      <td>{{race.datetime | date:'MM/dd/yyyy' }}</td>
      <td>{{race.location.city}}, {{race.location.state}}</td>
      <td ng-click="main.race_register(race)">
        <button class="button">Register</button>
      </td>
    </tr>
  </table>
  <div id="list-nav-message">{{list.getNavMessage()}}</div>
  <div id="list-nav-buttons">
    <button id="list-previous-page" ng-disabled="list.offset == 0" ng-click="list.getPreviousPage()">Previous</button>
    <button id="list-next-page" ng-disabled="!list.hasNextPage" ng-click="list.getNextPage()">Next</button>
  </div>
</section>
